<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<style>
		img{
			border-radius: 100%;
			width: 450px;
			height: 300px;
		}
		.container{
			border: 1px solid blue;
			border-radius: 20px;
			text-align: center;
		}

	</style>
</head>
<body>
	<div class="container">
		<div>
			<h1> Here be JSON!</h1>
			
		</div>
	</div>
</body>
</html>